# Creds
schematic_service_account_creds.json

# Tests and template files generated locally
*.schema.json
tests/generate/GF.jsonld
tests/generate/config.json
tests/generate/creds.json

# Ignore test logs
logs
